<p id="notice"><%= notice %></p>

<div class="container">
    <div class="jumbotron">
      <div id="heroesRotation">
        <table>
          <tr>
            <td><img id="heroesPortrait" src="heroes_portraits/kaelthas.png" alt=""></td>
            <td><img id="heroesPortrait" src="heroes_portraits/thrall.png" alt=""></td>
            <td><img id="heroesPortrait" src="heroes_portraits/kaelthas.png" alt=""></td>
            <td><img id="heroesPortrait" src="heroes_portraits/thrall.png" alt=""></td>
            <td><img id="heroesPortrait" src="heroes_portraits/kaelthas.png" alt=""></td>
          </tr>
          <tr>
            <td><img id="heroesPortrait" src="heroes_portraits/leoric.png" alt=""></td>
            <td><img id="heroesPortrait" src="heroes_portraits/varian.png" alt=""></td>
            <td><img id="heroesPortrait" src="heroes_portraits/leoric.png" alt=""></td>
            <td><img id="heroesPortrait" src="heroes_portraits/varian.png" alt=""></td>
            <td><img id="heroesPortrait" src="heroes_portraits/leoric.png" alt=""></td>
          </tr>
        </table>
      </div>
    <!-- <h1>HOTS</h1> -->
</div>

</div>


<div class="container panel panel-default text-center">
  <h1>Builds</h1>

  <table class="table text-center">
    <thead class="thead-inverse">
      <tr>
          <th>Herói</th>
          <th>Título</th>
          <th>Descrição</th>
          <th colspan="3"></th>
      </tr>
    </thead>

        <tbody>
          <% @builds.each do |build| %>
            <tr>
              <td><%= Character.find(build.character_id).name%></td>
              <td><%= build.title %></td>
              <td><%= build.description %></td>
              <td><%= link_to 'Show', build %></td>
              <% if current_user != nil %>
                  <% if current_user.id == build.user_id %>
                      <td><%= link_to 'Edit', edit_build_path(build) %></td>
                      <td><%= link_to 'Destroy', build, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
  </table>

  <br>

</div>
